*{
    font-family: 'Noto Sans Lao', sans-serif;
 }
 /* a{
    font-family: 'Noto Sans Lao', sans-serif;
 }*/
 h4{
    font-family: 'Noto Sans Lao', sans-serif;
 }  
 body{
    font-family: 'Noto Sans Lao', sans-serif;
 }
 a{
    font-family: 'Noto Sans Lao', sans-serif;
}  
.f{
   font-family: 'Noto Sans Lao', sans-serif;
}
p{
   font-family: 'Noto Sans Lao', sans-serif;
}
 